
  <style>
    div{
      text-align: right;
    }
    h6{
      margin: -10px;
    }
    header{
      background: rgba(50,50,0,0.5);
      padding:10px;
    }
    a{
      font-size: 20px;
      padding-left: 10px;
    }
    hr{
      border: 1px solid #999;
    }
    p{
      margin-left: 20px;
    }
  </style>

  <header>
    <h1>Welcome to ComicFeed!</h1>
    <h3>The place where you can read comics that are compatible with this app! I don't care what you want!</h3>
  </header>

  <div class="container">
    <a href="/users/new">Sign Up</a>
    <a href="/sessions/new">Sign In</a>
  </div>

  <hr>
  <a href="/comic1">XKCD</a>
  <p>A webcomic of romance, sarcasm, math, and language.</p>
  <hr>
  <a href="/comic2">Dinosaur Comics</a>
  <p>Dinosaur Comics is a comic about talking dinosaurs!</p>
  <hr>
  <a href="/comic3">Diesel Sweeties</a>
  <p>Life, love, urban hipsters and robots.</p>
  <hr>
  <a href="/comic4">Oglaf</a>
  <p>Medieval fantasy realm which is decidedly sexual in nature. </p>
  <hr>
  <a href="/comic5">Freak Angels</a>
  <p>Living in a post-flood London that the characters might possibly have had something to do with.</p>
  <hr>
  <a href="/comic6">Questionable Content</a>
  <p>Comic strip that is ostensibly about romance, indie rock, little robots, and the problems people have.</p>
  <hr>
  <a href="/comic7">Saturday Morning Breakfast Cereal</a>
  <p>Features no recurring characters or storylines, and has no set format;</p>
  <hr>
  <a href="/comic8">The Adventures of Dr. McNinja</a>
  <p>It's about a doctor who is also a ninja and goes on adventures what did you expect?</p>
  <hr>
  <a href="/comic9">Meek</a>
  <p>The Meek is a graphic novel about Angora, an inexperienced young girl who has been sent on a quest to save the world.</p>
  <hr>
  <a href="/comic10">Joy of Tech</a>
  <p>Concentrates on technology-oriented themes, with an emphasis on the "cult" of Apple Computer products.</p>
  <hr>
  <a href="/comic11">Looking for Group</a>
  <p>Follows the adventures of Cale’Anon and Richard, as well as their companions.</p>
  <hr>
  <a href="/comic12">Stop Paying Attention</a>
  <p>About a girl struggling through life.</p>
  <hr>
  <a href="/comic13">Garfield - Garfield</a>
  <p>Removes Garfield from the Garfield comic strips to reveal the existential angst of a certain young Mr. Jon Arbuckle.</p>
  <hr>
  <a href="/comic14">JL8</a>
  <p> Follows the adventures of popular DC comic characters as children in elementary school.</p>
  <hr>
  <a href="/comic15">Bucko</a>
  <p>Comedic murder mystery!</p>
  <hr>
  <a href="/comic16">Abominable</a>
  <p>The adventures of a childlike sasquatch through a forest full of colourful animal characters.</p>
  <hr>
  <a href="/comic17">Scenes from a Multiverse</a>
  <p>A Comic About Life In An Ordinary Multiverse, MWF.</p>
  <hr>
  <a href="/comic18">PHD Comics</a>
  <p>The comic strip about life (or the lack thereof) in academia.</p>
  <hr>
  <a href="/comic19">Nedroid</a>
  <p>the adventures of Beartato, Reginald and their friends!</p>
  <hr>
  <a href="/comic20">Octopus Pie</a>
  <p>Two women living in Brooklyn, NY - their jobs, social circles, and some problems.</p>
  <hr>


